{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ section.title }}
</h1>
<div class="blogpost-list">
  <!-- If you are using pagination, section.pages will be empty.
       You need to use the paginator object -->  
  {% for page in section.pages %}
  <article>
    <a href="{{ page.permalink | safe }}">
      <div class="top">
        <p class="name">{{ page.title }}</p>
        <div class="date">{{ page.date }}</div>
      </div>
      <p>{{ page.description }}</p>
    </a>
  </article>
  {% endfor %}
</div>
{% endblock content %}
